<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.triton.bertsproject">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name=".retailer.OrderDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".retailer.RetailerProductListBasedOnCategActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerProductListBasedOnMakeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllChildMakesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllChildMakesListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllChildCategActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllParentMakesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllBrandsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShowAllParentCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.SampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.PaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.CouponApplyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.CheckoutScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShippingMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Parent"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerAllCategoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerSetttingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ProductDetailDescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.AddVehicleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.EditVehicleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.FilterlistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">

         <!--    <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->

        </activity>
        <activity
            android:name=".retailer.ShippingAddressAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShippingAddressEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.ShippingAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerProfileAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.MyWishlistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.Cart"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerOrderTrackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.Cart"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.Cart"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerCartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.Cart"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.SearchProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.SearchProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BertsProject.SearchProduct"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".retailer.RetailerDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Parent"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Customtheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>